log.level: debug

server.port: ":8080"

api:
  bitopro: # check this webpage: https://github.com/bitoex/bitopro-offical-api-docs/tree/master#api-key-setup
    key: key
    secret: secret
    email: email
  binance:
    key: key
    secret: secret